Flask==2.3.2
pymongo==4.3.3
openai==0.27.8
asyncio==3.4.3
apscheduler==3.10.1
redis==4.5.5
numpy==1.24.3
langchain==0.0.222
pinecone_client==2.2.2
tiktoken==0.4.0
cryptography==41.0.1
contextlib2==21.6.0
google-api-python-client==2.90.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
PyPDF2==3.0.1
